.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 60px;

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    &__copyright {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: rgba(255, 255, 255, 0.7);
      margin: 16px 0;
    }

    &__adress {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  &__adress {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    &__element {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.7);

      &:not(:last-child){
        margin-bottom: 16px;
      }
    }
  }
}
